[submodule "honggfuzz"]
	path = honggfuzz
	url = https://github.com/lin-toto/teapot-honggfuzz
[submodule "teapot-libcheckpoint_x64"]
	path = teapot-libcheckpoint_x64
	url = https://github.com/pauljhan01/teapot-libcheckpoint_x64.git
